winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Media.Ocr==3.2.1
pywin32==309 ; platform_system=="Windows"
Pillow==11.2.1
win10toast==0.9 ; platform_system=="Windows"
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Storage.Streams==3.2.1
